$color-orange: #FF9900;
$color-green: #009933;
$color-grey: #666666;
$color-lightgrey: #999999;
$color-darkgrey: #545454;
$color-extralightgrey: #A7A7A7;
$color-grey88: #e0e0e0;
$color-black: #000000;

