@import "./style/color.scss";

.Products {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Product {
    display: flex;
    // flex-direction: row-reverse;
    max-width: 1000px;
    width: 99%;
    box-sizing: border-box;
    height: 300px;
    padding: 10px 10px 18px;
    border: 1px solid $color-grey80;
    margin-bottom: 10px;
    &:last-child {
        margin-bottom: 0;
    }
    // justify-content: space-between;
}

.Product--photo {
    display: flex;
    justify-content: center;
    align-items: top;
    width: 220px;
    height: 220px;
    flex-direction: row-reverse;
}

.Product--content {
    display: flex;
    flex-direction: column;
    flex-grow : 1;
    padding-left: 20px;
}

.Product--firstRow {
    display: flex;
    justify-content: space-between;
    margin-bottom: 12px;
}

.Product--secondRow {
    display: flex;
    justify-content: space-between;
}

.Product--tags {
    margin-top: 12px;
}

.Product--tooltip {
    margin: 10px 0 12px;
}

.Product--buttons {
    display: flex;
    max-width: 230px;
    justify-content: space-between;
    
}

@media(max-width: 767px) {
    .Product {
        flex-direction: column;
        align-items: center;
        height: auto;
        width: 250px;
    }

    .Product--photo {
        justify-content: center;
    }

    .Product--content {
        padding: 0;
    }

    .Product--tags {
        display: none;
    }

    .Product--secondRow {
        flex-direction: column;
        // align-items: center;
    }
    .Product--tooltip {
        display: none;
    }
    
    .Product--buttons {
        margin: 10px 0 0 auto;
        // justify-content: flex-end;

        
    }

}